.poll-question {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.question {
  font-size: 16px;
}

.choices-area {
  margin: 0 0 10px 0;
}

.choice-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;

  .sub-item {
    margin: 0 5px;
  }
  .answer-radio {
    width: 60px;
  }
  .answer-content {
    flex: auto;
  }
}