.layout {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

.status-area {
  position: relative;
  border: 1px solid forestgreen;
  background-color: lightgreen;
  border-radius: 8px;
  width: 100%;
  padding: 5px 10px;
  &.error {
    border: 1px solid maroon;
    background-color: red;
  }
  .close {
    position: absolute;
    top: 0;
    right: 5px;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
  }
}