.layout {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

.status-area {
  position: relative;
  border: 1px solid forestgreen;
  background-color: lightgreen;
  border-radius: 8px;
  width: 100%;
  padding: 5px 10px;
  &.error {
    border: 1px solid maroon;
    background-color: red;
  }
  .close {
    position: absolute;
    top: 0;
    right: 5px;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
  }
}

.questions-area {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 10px 0;
}

.question-toolbar {
  display: flex;
  justify-content: space-between;
  button {
    flex: 1;
    margin: 5px;
    border-radius: 4px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    &.remove {
      background-color: maroon;
      border: 2px solid maroon;
    }
    &.add {
      background-color: darkgreen;
      border: 2px solid darkgreen;
    }
  }
}

.save-button {
  margin-left: auto;
  padding: 10px;
}