.submissions-area {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 10px 0;

  .submission-box {
    margin: 5px 0;

    .submission-header {
      display: flex;
      justify-content: space-between;
      border: 2px solid #999;
      border-radius: 8px;
      background-color: black;
      padding: 5px 10px;
      color: white;
      /*box-shadow: 0 0 4px 2px #666;*/
      cursor: pointer;

      &.expanded {
        border-bottom: none;
        border-radius: 8px 8px 0 0;
      }
    
      .toggle {
        flex: initial;
        margin-right: 5px;
        font-weight: bold;
        min-width: 15px;
        text-align: center;
      }
      .id {
        flex: 1;
      }
      .timestamp {
        text-align: right;
        flex: 1;
      }
    }

    .submission-body {
      background-color: white;
      border-color: #999;
      border-style: solid;
      border-width: 0 2px 2px 2px;

      .question-box {
        padding: 10px 5px;

        .question-content {
          font-weight: bold;
        }
        .question-choices {
          margin: 10px;

          .correct {
            background-color: lightgreen;
          }
          .wrong {
            background-color: lightcoral;
          }
        }
      }
    }
  }
}





